@font-face {
  font-family: Work;
  src: url(assets/fonts/WorkSans-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work", sans-serif;
}

body {
  background-color: hsl(275, 100%, 97%);
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

.accordion {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 80%;
  max-width: 405px;
  margin: 200px auto 0;
  padding: 20px;
}

.accordion-item-list {
  display: flex;
  flex-flow: column;
}

.question {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  /* font-size: 0.75rem; */
  font-weight: 800;
  color: hsl(292, 42%, 14%);
  padding: 10px 0;
}

.question::after {
  content: url(assets/images/icon-plus.svg);
}

.question.open::after {
  content: url(assets/images/icon-minus.svg);
}

.question:focus, .question:hover {
  color: #ad28eb;
  cursor: pointer;
  outline: none;
}

.answer {
  padding: 10px 0;
  color: hsl(292, 16%, 49%);
  display: none;
}

.accordion-title {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  color: hsl(292, 42%, 14%);
  font-size: 2.75rem;
  gap: 10px;
}

.accordion-title span img {
  height: 2rem;
}

.accordion-item {
  list-style: none;
  border-bottom: 1px solid hsl(275, 100%, 97%);
}

.accordion-item:last-child {
  border-bottom: none;
}

.active {
  display: block;
}

.passive {
  display: none;
}
